.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ced5e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.content-text {
  flex: 1;
  min-width: 400px;
  padding: 20px;
  text-align: left;
  font-size:larger;
}

.content-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px; /* Moves image slightly down */
}

.content-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; /* Smooth zoom effect */
}
.content-image img:hover {
  transform: scale(1.05); /* Zoom in effect */
}
